body {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, 
    Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; 
    font-size: 1.2em;
    
    display: flex;
    justify-items: center;

    background-image: url("../images/fieldwork cropped.jpg");
}

h1 {
    font-size: 55px;
    color: white;
}

h3 {
    margin-bottom: 50px;
}

.sidebar-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20vh;
    padding: 5px;
    border-radius: 15px;

    width: 25vw;
    height: 10vh;

    background-color: rgba(12, 12, 12, 0.5);
}

.form-area {
    border-radius: 15px;

    padding-top: 150px;
    padding-left: 50px;
    width: 71vw;

    background-color: white;
}

.sign-up-form {
    padding: 1px 10px 5px 10px;
    box-shadow: 2px 2px 2px 2px rgb(97, 97, 97);
    margin-right: 20px;
    
    border-radius: 15px;
}

.sign-up-form div {
    margin-top: 20px;
}

label {
    position: absolute;
    margin-top: -20px;
}

input {
    margin: 10px 50px 10px 0px;
    
    border-color: #E5E7EB;
    border-radius: 5px;
    border-style: solid;

    height: 2em;
}

input:focus {
    outline: none;
    border-color: rgb(75, 127, 206);
}

input:invalid:required {
    border-color: rgb(253, 0, 0);
}

button {
    background-color: #596D48;
    color: white;

    font-size: 1.1em;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
}